<a href="https://colab.research.google.com/github/FarizThiruthi/python/blob/main/Exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a Python program to sum all the items in a list
numbers = [1, 2, 3, 4, 5]
total = sum(numbers)
print("Sum of all items:", total)

Sum of all items: 15

In [ ]:
# Write a Python program to get the largest number from a list.
numbers = [12, 45, 23, 67, 89]
largest = max(numbers)
print("Largest number:", largest)

Largest number: 89

In [ ]:
# Write a Python program to get the smallest number from a list.
numbers = [12, 45, 23, 67, 89]
smallest = min(numbers)
print("Smallest number:", smallest)

Smallest number: 12

In [ ]:
# Write a Python program to check a list is empty or not.
my_list = []
if not my_list:
    print("List is empty")
else:
    print("List is not empty")

List is empty

In [ ]:
# Write a Python program to copy a list.
original_list = [1, 2, 3]
copied_list = original_list.copy()
print("Copied list:", copied_list)

Copied list: [1, 2, 3]

In [ ]:
# Write a Python program access the index of a list.
my_list = ['apple', 'banana', 'cherry']
for index, value in enumerate(my_list):
    print("Index:", index, "Value:", value)

Index: 0 Value: apple
Index: 1 Value: banana
Index: 2 Value: cherry

In [ ]:
# Write a Python program to append a list to the second list.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1 += list2
print("Combined list:", list1)

Combined list: [1, 2, 3, 4, 5, 6]

In [ ]:
# Write a Python program to get unique values from a list
my_list = [1, 2, 2, 3, 4, 4, 5]
print("My list:", my_list)
unique_list = list(set(my_list))
print("Unique values:", unique_list)

My list: [1, 2, 2, 3, 4, 4, 5]
Unique values: [1, 2, 3, 4, 5]

In [ ]:
# Write a Python program to find common items from two lists
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_items = list(set(list1) & set(list2))
print("Common items:", common_items)

Common items: [3, 4]

In [ ]:
# Write a Python program to select the odd items of a list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
odd_numbers = [num for num in numbers if num % 2 != 0]
print("Odd items:", odd_numbers)

Odd items: [1, 3, 5, 7, 9]

In [ ]:
#Write a Python program to concatenate elements of a list.
my_list = ['Hello', 'world', '!']
concatenated = ' '.join(my_list)
print("Concatenated:", concatenated)

Concatenated: Hello world !

In [ ]:
#Write a Python program to convert a string to a list.
my_string = "Hello,world"
my_list = list(my_string)
print("Converted list:", my_list)

Converted list: ['H', 'e', 'l', 'l', 'o', ',', 'w', 'o', 'r', 'l', 'd']

In [ ]:
#Write a Python program to extend a list without append.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1[len(list1):] = list2
print("Extended list:", list1)

Extended list: [1, 2, 3, 4, 5, 6]

In [ ]:
# Write a Python program to create a set.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# Write a Python program to remove items) from a given set.
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

In [ ]:
# Write a Python program to add member(s) in a set.
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [ ]:
# Write a Python program to create an intersection, union, set difference, symmetric difference of sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection = set1 & set2 # set1.intersection(set2)
union = set1 | set2 # set1.union(set2)
difference = set1 - set2 # set1.difference(set2)
symmetric_difference = set1 ^ set2

print("Intersection:", intersection)
print("Union:", union)
print("Difference:", difference)
print("Symmetric Difference:", symmetric_difference)

Intersection: {3}
Union: {1, 2, 3, 4, 5}
Difference: {1, 2}
Symmetric Difference: {1, 2, 4, 5}

In [ ]:
# Write a Python program to create a shallow copy of sets.
original_set = {1, 2, 3}
copied_set = original_set.copy()
print("Copied set:", copied_set)

Copied set: {1, 2, 3}

In [ ]:
# Write a Python program to remove all elements from a given set.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# Write a Python program to find the length of a set.
my_set = {1, 2, 3, 4, 5}
length = len(my_set)
print("Length:", length)

Length: 5

In [ ]:
# Write a Python program to check if a set is a subset of another set.
set1 = {1, 2}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)
print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? True

In [ ]:
# Python Program to Add a Key-Value Pair to the Dictionary
my_dict = {'key1': 'value1'}
my_dict['key2'] = 'value2'
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
# Write a Python program to iteration over sets.
my_set = {1, 2, 3, 4, 5}
for item in my_set:
    print(item)

1
2
3
4
5

In [ ]:
# Write a Python script to add a key to a dictionary.
my_dict = {'key1': 'value1'}
my_dict['key2'] = 'value2'
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
# Python Program to Remove the Given Key from a Dictionary
my_dict = {'key1': 'value1', 'key2': 'value2'}
del my_dict['key1']
print(my_dict)

{'key2': 'value2'}

In [ ]:
# Write a Python program to check if two given sets have no elements in common.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

no_common_elements = set1.isdisjoint(set2)
print("No common elements?", no_common_elements)

No common elements? True

In [ ]:
# Python Program to Sum All the Items in a Dictionary
my_dict = {'a': 10, 'b': 20, 'c': 30}
total = sum(my_dict.values())
print("Sum of values:", total)

Sum of values: 60

In [ ]:
# Python Program to Multiply All the Items in a Dictionary
my_dict = {'a': 2, 'b': 3, 'c': 4}
result = 1
for value in my_dict.values():
    result *= value
print("Multiplication result:", result)

Multiplication result: 24

**While Loop**

In [1]:
# Create a multiplication table
n = int(input("Enter a number for the multiplication table: "))
i = 1
while i <= 10:
    print(f"{n} x {i} = {n * i}")
    i += 1

Enter a number for the multiplication table: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [5]:
# Count how many times a given number can be divided by 3 before it is less than or equal to 10
num = int(input("Enter a number: "))
count = 0
while num > 10:
    num /= 3
    count += 1
print("Number of divisions:", count)

Enter a number: 100
Number of divisions: 3

In [7]:
#Program to add natural numbers up to a given sum
n = int(input("Enter a number: "))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print("Sum of natural numbers:", sum)

Enter a number: 3
Sum of natural numbers: 6

In [8]:
# Simple Fibonacci series
n = int(input("Enter the number of terms: "))
a, b = 0, 1
while n > 0:
    print(a)
    a, b = b, a + b
    n -= 1

Enter the number of terms: 10
0
1
1
2
3
5
8
13
21
34

In [9]:
# Print even and odd numbers between 1 to the entered number
n = int(input("Enter a number: "))
i = 1
while i <= n:
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")
    i += 1

Enter a number: 10
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [10]:
# Printing the square of odd numbers less than n
n = int(input("Enter a number: "))
i = 1
while i < n:
    if i % 2 != 0:
        print(f"The square of {i} is {i**2}")
    i += 1

Enter a number: 23
The square of 1 is 1
The square of 3 is 9
The square of 5 is 25
The square of 7 is 49
The square of 9 is 81
The square of 11 is 121
The square of 13 is 169
The square of 15 is 225
The square of 17 is 289
The square of 19 is 361
The square of 21 is 441

In [11]:
#Add all even numbers from 1 to 10 using a while loop
sum = 0
i = 2
while i <= 10:
    sum += i
    i += 2
print("Sum of even numbers:", sum)

Sum of even numbers: 30

In [12]:
#Write a code to add all the prime numbers between 17 to 53 using a while loop
lower_limit = 17
upper_limit = 53
sum_of_primes = 0

while lower_limit <= upper_limit:
    if lower_limit > 1:
        is_prime = True
        for i in range(2, lower_limit):
            if (lower_limit % i) == 0:
                is_prime = False
                break
        if is_prime:
            sum_of_primes += lower_limit
    lower_limit += 1

print("Sum of prime numbers between 17 and 53:", sum_of_primes)

Sum of prime numbers between 17 and 53: 340

In [13]:
# Use a while loop to print numbers from 1 to 6
i = 1
while i <= 6:
    print(i)
    i += 1

1
2
3
4
5
6

In [14]:
# Display each character from a string, and if a character is a number then stop the loop
input_string = input("Enter a string: ")
index = 0

while index < len(input_string):
    char = input_string[index]
    print(char)

    if char.isdigit():
        break

    index += 1

Enter a string: hello
h
e
l
l
o

In [15]:
# Printing odd numbers less than n
n = int(input("Enter a number: "))
i = 1
while i < n:
    if i % 2 != 0:
        print(i)
    i += 1

Enter a number: 24
1
3
5
7
9
11
13
15
17
19
21
23

In [16]:
#. Use a while loop to iterate over a string and display only alphabets
input_string = input("Enter a string: ")
index = 0

while index < len(input_string):
    char = input_string[index]
    if char.isalpha():
        print(char)
    index += 1

Enter a string: hola123amigo
h
o
l
a
a
m
i
g
o

In [1]:
# Reverse a while loop to display numbers from 10 to 1
i =10
while i >=1 :
  print (i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [4]:
# Print the first 10 numbers on each line 5 times
count = 0
while count < 5:
    i = 1
    while i <= 10:
        print(i, end=' ')
        i += 1
    print()  # Move to the next line
    count += 1

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [6]:
#While loop to iterate string letter by letter
input_string = input("Enter a string: ")
index = 0

while index < len(input_string):
    char = input_string[index]
    print(char)
    index += 1

Enter a string: hola
h
o
l
a

In [7]:
# Printing the first two elements of a list
my_list = [1, 2, 3, 4, 5]
index = 0

while index < len(my_list) and index < 2:
    print(my_list[index])
    index += 1

1
2

In [8]:
# Find the cube of numbers from 1 to 9
i = 1
while i <= 9:
    cube = i ** 3
    print(f"The cube of {i} is {cube}")
    i += 1

The cube of 1 is 1
The cube of 2 is 8
The cube of 3 is 27
The cube of 4 is 64
The cube of 5 is 125
The cube of 6 is 216
The cube of 7 is 343
The cube of 8 is 512
The cube of 9 is 729

In [11]:
# Printing the square of numbers less than n using a while loop
n = int(input("Enter a number: "))
i = 1
while i < n:
    square = i ** 2
    print(f"The square of {i} is {square}")
    i += 1

Enter a number: 5
The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16