<a href="https://colab.research.google.com/github/FarizThiruthi/python/blob/main/For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input('Enter the value : '))
tot = 0
for i in range(0,a+1):
  tot = tot+i
print ('Sum : ',tot)

Enter the value : 9
Sum :  45

In [ ]:
li = [1,2,3,4,5,5]
li2 = 0
for i in li :
  #print(i)
  li2 += i
print(li2)

20

In [ ]:
li = [1,2,3,4,5,5]
li2 = 0
for i in li :
  #print(i)
  li2 += i
  print(li2)
  if ((li2%2)==0 ) :
    print('Given Input is Even')
  else :
    print('Given Input is Odd')

1
Given Input is Odd
3
Given Input is Odd
6
Given Input is Even
10
Given Input is Even
15
Given Input is Odd
20
Given Input is Even

In [ ]:
for i in range(0,11):
  print(i)
  if(i==5):
    break

0
1
2
3
4
5

In [ ]:
z = int(input('Enter a in between 1-10 : '))
for i in range(0,11):
  if(i==z):
    continue
  print(i)

Enter a in between 1-10 : 7
0
1
2
3
4
5
6
8
9
10

In [ ]:
odd = 0
even = 0
w = int(input('Enter starting range : '))
s = int(input('Enter ending limit : '))
for i in range (w,s+1):
  if ((i%2)==0 ) :
    #print('Even :',i)
    even += i
  else :
    #print('Odd :',i)
    odd += i
print('Sum of Odd number',odd)
print('Sum of Even number',even)

Enter starting range : 0
Enter ending limit : 10
Sum of Odd number 25
Sum of Even number 30

In [ ]:
n = int(input('Enter a number: '))
r = 1
for i in range(1, n + 1):
    r = r * i
print(r)

Enter a number: 5
120

In [ ]:
a = 0
b = 1
c = 10
for i in range(0,c):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
x=0
y=1
print(y)
for i in range(1,10):

  print(x+y)
  x=y
  y=i

1
1
2
3
5
7
9
11
13
15

In [ ]:
x = int(input('Enter the number '))
y = int(input('Enter the range '))
for i in range(1,y+1) :
  print(i,'*',x,'=',x*i)

Enter the number 3
Enter the range 10
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

In [ ]:
x = 0
y = 1
print(x)
print(y)
for i in range(1,9):
    c = x + y
    print(c)
    x=y
    y=c

0
1
1
2
3
5
8
13
21
34

In [ ]:
a=0
b=1
print(a)
print(b)
for i in range(0,10):
  c=a+b
  print(c)
  a=b
  b=c

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
z = int(input('Enter the number '))
d= str(z)
print("Number of digits:", len(d))
num = 0
for i in d:
  f = int(i)
  print(f,'^',len(d),'=',f**len(d))
  num += f**len(d)
print("Calculated Sum:", num)
if (num==z):
  print('Armstrong')
else:
  print('Not Armstrong number')

Enter the number 10
Number of digits: 2
1 ^ 2 = 1
0 ^ 2 = 0
Calculated Sum: 1
Not Armstrong number

In [ ]:
a= 1
while(a<=10):
  print(a)
  a+=1

1
2
3
4
5
6
7
8
9
10