<a href="https://colab.research.google.com/github/FarizThiruthi/python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def hello_world():
  print('Hello World')
hello_world()

Hello World

In [ ]:
def func_argument(fname):
  print(fname)

func_argument('Alexander')
func_argument('Rozario')
func_argument('Martin')

Alexander
Rozario
Martin

In [ ]:
def func_argument(fname,fage):
  print(fname,fage)

func_argument('Alexander',23)
func_argument('Rozario',24)
func_argument('Martin',36)

Alexander 23
Rozario 24
Martin 36

In [ ]:
def arf_func(*nams):
  print(nams)

arf_func('tom','Jerry','Muller')

('tom', 'Jerry', 'Muller')

In [ ]:
def arf_func(*nams):
  print('kid',nams[2])

arf_func('tom','Jerry','Muller')

kid Muller

In [ ]:
def func_argument(fname,fage):
  print('The youngest kid is',)

func_argument(fname = 'Alexander',fage = 23)
func_argument('Rozario',24)
func_argument('Martin',36)

The youngest kid is
The youngest kid is
The youngest kid is

In [ ]:
def add(a,b):
  print(a,'+',b,'=',a+b)

def subtract(a,b):
  print(a,'-',b,'=',a-b)

def multiplication(a,b):
  print(a,'*',b,'=',a*b)

def division(a,b):
  print(a,'/',b,'=',a/b)

a=int(input('Enter first number '))
b=int(input('Enter second number '))

add(a,b)
subtract(a,b)
multiplication(a,b)
division(a,b)

Enter first number 20
Enter second number 10
20 + 10 = 30
20 - 10 = 10
20 * 10 = 200
20 / 10 = 2.0

In [ ]:
def oddoreven(d):
  if ((d%2)==0 ) :
    print('Given Input',d,'is Even')
  else :
    print('Given Input',d,'is odd')

d=int(input('Enter a number '))
oddoreven(d)

Enter a number 25
Given Input 25 is odd

In [ ]:
def fact(n):
  r=1
  for i in range (1,n+1):
    r=r*i
  print('Factoral of',n,'is : ')


n = int(input('Enter a number: '))
fact(n)

Enter a number: 5
Factoral of 5 is :

In [ ]:
def multiplication_table(x,y):
  for i in range(1,y+1):
    print(i,'*',x,'=',x*i)

x = int(input('Enter the number '))
y = int(input('Enter the range '))

multiplication_table(x,y)

Enter the number 10
Enter the range 10
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

In [ ]:
def armstrong(z):
    d = str(z)
    num = 0
    for i in d:
        f = int(i)
        num += f ** len(d)
    print("Calculated Sum:", num)
    if num == z:
        print('Armstrong')
    else:
        print('Not Armstrong number')

z = int(input('Enter the number: '))
armstrong(z)

Enter the number: 153
Calculated Sum: 153
Armstrong

In [ ]:
def fibonacci(x):
  a=0
  b=1
  z = False
  for i in range(0,x+1):
    c=a+b
    a=b
    b=c
    if(x==c):
      z= True
      break

  if z :
    print('The given input',x,'is a fibonacci number')
  else :
    print('The given input',x,'is not a fibonacci number')


x=int(input('Enter a input '))
fibonacci(x)

Enter a input 13
The given input 13 is a fibonacci number